{
  "openapi": "3.1.0",
  "info": {
    "title": "Intermezzo Global Payroll",
    "summary": "Global Payroll Platform",
    "description": "Intermezzo's global payroll apis, organized by country",
    "version": "1.0.0",
    "x-logo": {
      "url": "/static/icon.svg"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.intermezzo.ai",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "tags": ["Core", "Organizations"],
        "summary": "List Orgs",
        "operationId": "list_orgs_organizations_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OrgResponse"
                  },
                  "type": "array",
                  "title": "Response List Orgs Organizations Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      },
      "post": {
        "tags": ["Core", "Organizations"],
        "summary": "Create Orgs",
        "operationId": "create_orgs_organizations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/organizations/{organization_id}": {
      "get": {
        "tags": ["Core", "Organizations"],
        "summary": "Get Org",
        "operationId": "get_org_organizations__organization_id__get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Core", "Organizations"],
        "summary": "Update Org",
        "operationId": "update_org_organizations__organization_id__patch",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrgUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees/{employee_id}": {
      "get": {
        "tags": ["Core", "Employees"],
        "summary": "Get Employee",
        "operationId": "get_employee_organizations__organization_id__employees__employee_id__get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees": {
      "get": {
        "tags": ["Core", "Employees"],
        "summary": "List Employees",
        "description": "List employees for an organization with pagination and filtering support.",
        "operationId": "list_employees_organizations__organization_id__employees_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employment_country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by employment country",
              "title": "Employment Country"
            },
            "description": "Filter by employment country"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Size"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sort By"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder",
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_EmployeeResponse_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Employees"],
        "summary": "Create Employees",
        "operationId": "create_employees_organizations__organization_id__employees_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmployeeRequest"
                },
                "title": "Employees"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees/{employee_id}/job-details": {
      "post": {
        "tags": ["Core", "Employee Job Details"],
        "summary": "Create Employee Job Details",
        "description": "Create new job details for an employee.",
        "operationId": "create_employee_job_details_organizations__organization_id__employees__employee_id__job_details_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Job Details"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Core", "Employee Job Details"],
        "summary": "Get Employee Job Details",
        "description": "Get current job details for an employee.",
        "operationId": "get_employee_job_details_organizations__organization_id__employees__employee_id__job_details_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Core", "Employee Job Details"],
        "summary": "Update Employee Job Details",
        "description": "Update job details for an employee (creates new version).",
        "operationId": "update_employee_job_details_organizations__organization_id__employees__employee_id__job_details_put",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Job Details"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees/{employee_id}/job-details/history": {
      "get": {
        "tags": ["Core", "Employee Job Details"],
        "summary": "Get Employee Job Details History",
        "description": "Get all historical versions of job details for an employee.",
        "operationId": "get_employee_job_details_history_organizations__organization_id__employees__employee_id__job_details_history_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees/{employee_id}/tax-details": {
      "post": {
        "tags": ["Core", "Employee Tax Details"],
        "summary": "Create Employee Tax Details",
        "description": "Create new tax details for an employee.",
        "operationId": "create_employee_tax_details_organizations__organization_id__employees__employee_id__tax_details_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Tax Details"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Core", "Employee Tax Details"],
        "summary": "Get Employee Tax Details",
        "description": "Get current tax details for an employee.",
        "operationId": "get_employee_tax_details_organizations__organization_id__employees__employee_id__tax_details_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Core", "Employee Tax Details"],
        "summary": "Update Employee Tax Details",
        "description": "Update tax details for an employee (creates new version).",
        "operationId": "update_employee_tax_details_organizations__organization_id__employees__employee_id__tax_details_put",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Tax Details"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees/{employee_id}/tax-details/history": {
      "get": {
        "tags": ["Core", "Employee Tax Details"],
        "summary": "Get Employee Tax Details History",
        "description": "Get all historical versions of tax details for an employee.",
        "operationId": "get_employee_tax_details_history_organizations__organization_id__employees__employee_id__tax_details_history_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees/{employee_id}/insurance-details": {
      "post": {
        "tags": ["Core", "Employee Insurance Details"],
        "summary": "Create Employee Insurance Details",
        "description": "Create new insurance details for an employee.",
        "operationId": "create_employee_insurance_details_organizations__organization_id__employees__employee_id__insurance_details_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Insurance Details"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Core", "Employee Insurance Details"],
        "summary": "Get Employee Insurance Details",
        "description": "Get current insurance details for an employee.",
        "operationId": "get_employee_insurance_details_organizations__organization_id__employees__employee_id__insurance_details_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Core", "Employee Insurance Details"],
        "summary": "Update Employee Insurance Details",
        "description": "Update insurance details for an employee (creates new version).",
        "operationId": "update_employee_insurance_details_organizations__organization_id__employees__employee_id__insurance_details_put",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Insurance Details"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees/{employee_id}/insurance-details/history": {
      "get": {
        "tags": ["Core", "Employee Insurance Details"],
        "summary": "Get Employee Insurance Details History",
        "description": "Get all historical versions of insurance details for an employee.",
        "operationId": "get_employee_insurance_details_history_organizations__organization_id__employees__employee_id__insurance_details_history_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^emp_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'emp'",
              "example": "emp_01h455vb4pex5vsknk084sn02q",
              "title": "Employee Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/insurance-data": {
      "get": {
        "tags": ["Core", "Insurance"],
        "summary": "Get Organization Insurance Data",
        "operationId": "get_organization_insurance_data_organizations__organization_id__insurance_data_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationInsuranceDataResponse"
                  },
                  "title": "Response Get Organization Insurance Data Organizations  Organization Id  Insurance Data Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Insurance"],
        "summary": "Create Organization Insurance Data",
        "operationId": "create_organization_insurance_data_organizations__organization_id__insurance_data_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationInsuranceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInsuranceDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/insurance-data/{insurance_data_id}": {
      "patch": {
        "tags": ["Core", "Insurance"],
        "summary": "Update Organization Insurance Data",
        "operationId": "update_organization_insurance_data_organizations__organization_id__insurance_data__insurance_data_id__patch",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "insurance_data_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Insurance Data Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationInsuranceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInsuranceDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/worksites/{worksite_id}/insurance-data": {
      "get": {
        "tags": ["Core", "Insurance"],
        "summary": "Get Worksite Insurance Data",
        "operationId": "get_worksite_insurance_data_worksites__worksite_id__insurance_data_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorksiteInsuranceDataResponse"
                  },
                  "title": "Response Get Worksite Insurance Data Worksites  Worksite Id  Insurance Data Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Insurance"],
        "summary": "Create Worksite Insurance Data",
        "operationId": "create_worksite_insurance_data_worksites__worksite_id__insurance_data_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorksiteInsuranceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorksiteInsuranceDataResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/insurance-level-choices": {
      "get": {
        "tags": ["Core", "Insurance"],
        "summary": "Get Organization Insurance Level Choices",
        "operationId": "get_organization_insurance_level_choices_organizations__organization_id__insurance_level_choices_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationInsuranceLevelChoiceResponse"
                  },
                  "title": "Response Get Organization Insurance Level Choices Organizations  Organization Id  Insurance Level Choices Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/insurance-level-choices/{choice_id}": {
      "get": {
        "tags": ["Core", "Insurance"],
        "summary": "Get Organization Insurance Level Choice By Id",
        "operationId": "get_organization_insurance_level_choice_by_id_organizations__organization_id__insurance_level_choices__choice_id__get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "choice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^ilc_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'ilc'",
              "example": "ilc_01h455vb4pex5vsknk084sn02q",
              "title": "Choice Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInsuranceLevelChoiceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/insurance-level-choices/{agency_id}": {
      "patch": {
        "tags": ["Core", "Insurance"],
        "summary": "Update Organization Insurance Level Choice",
        "operationId": "update_organization_insurance_level_choice_organizations__organization_id__insurance_level_choices__agency_id__patch",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "agency_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Agency Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationInsuranceLevelChoiceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationInsuranceLevelChoiceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/tax-identifiers": {
      "get": {
        "tags": ["Core", "Tax Identifiers"],
        "summary": "Get Organization Tax Identifiers",
        "operationId": "get_organization_tax_identifiers_organizations__organization_id__tax_identifiers_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationTaxIdentifiersListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Tax Identifiers"],
        "summary": "Create Organization Tax Identifier",
        "operationId": "create_organization_tax_identifier_organizations__organization_id__tax_identifiers_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxIdentifiersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxIdentifiersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/tax-identifiers/{tax_identifier_id}": {
      "patch": {
        "tags": ["Core", "Tax Identifiers"],
        "summary": "Update Organization Tax Identifier",
        "operationId": "update_organization_tax_identifier_organizations__organization_id__tax_identifiers__tax_identifier_id__patch",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "tax_identifier_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Tax Identifier Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxIdentifiersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxIdentifiersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/worksites/{worksite_id}/tax-identifiers": {
      "get": {
        "tags": ["Core", "Tax Identifiers"],
        "summary": "Get Worksite Tax Identifiers",
        "operationId": "get_worksite_tax_identifiers_worksites__worksite_id__tax_identifiers_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorksiteTaxIdentifiersListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Tax Identifiers"],
        "summary": "Create Worksite Tax Identifier",
        "operationId": "create_worksite_tax_identifier_worksites__worksite_id__tax_identifiers_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxIdentifiersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxIdentifiersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/payrollrun/{run_id}/approve": {
      "post": {
        "tags": ["Core", "Payroll Runs"],
        "summary": "Approve Payroll",
        "operationId": "approve_payroll_payrollrun__run_id__approve_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^run_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'run'",
              "example": "run_01h455vb4pex5vsknk084sn02q",
              "title": "Run Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunDetails"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/worksites": {
      "get": {
        "tags": ["Core", "Worksites"],
        "summary": "List Worksites",
        "operationId": "list_worksites_organizations__organization_id__worksites_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkSiteResponse"
                  },
                  "title": "Response List Worksites Organizations  Organization Id  Worksites Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Worksites"],
        "summary": "Create Worksite",
        "operationId": "create_worksite_organizations__organization_id__worksites_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkSiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkSiteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/worksites/{worksite_id}": {
      "get": {
        "tags": ["Core", "Worksites"],
        "summary": "Get Worksite",
        "operationId": "get_worksite_organizations__organization_id__worksites__worksite_id__get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkSiteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Core", "Worksites"],
        "summary": "Patch Worksite",
        "operationId": "patch_worksite_organizations__organization_id__worksites__worksite_id__patch",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkSiteUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkSiteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "tags": ["Core", "Contacts"],
        "summary": "List Contacts",
        "description": "Get all contacts available to the user with optional name filtering",
        "operationId": "list_contacts_contacts_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter contacts by name",
              "title": "Name"
            },
            "description": "Filter contacts by name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponse"
                  },
                  "title": "Response List Contacts Contacts Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Contacts"],
        "summary": "Create Contact",
        "description": "Create a new contact for an organization",
        "operationId": "create_contact_contacts_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Org Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "patch": {
        "tags": ["Core", "Contacts"],
        "summary": "Patch Contact",
        "description": "Update contact",
        "operationId": "patch_contact_contacts__contact_id__patch",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^con_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'con'",
              "example": "con_01h455vb4pex5vsknk084sn02q",
              "title": "Contact Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/contacts": {
      "get": {
        "tags": ["Core", "Contacts"],
        "summary": "Get Organization Contacts",
        "description": "Get all contacts attached to an organization",
        "operationId": "get_organization_contacts_organizations__organization_id__contacts_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponse"
                  },
                  "title": "Response Get Organization Contacts Organizations  Organization Id  Contacts Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Contacts"],
        "summary": "Create Organization Contact",
        "description": "Create a new contact and attach it to an organization",
        "operationId": "create_organization_contact_organizations__organization_id__contacts_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Core", "Contacts"],
        "summary": "Attach Contacts To Organization",
        "description": "Attach/update contacts for an organization by contact ID list",
        "operationId": "attach_contacts_to_organization_organizations__organization_id__contacts_put",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^con_[0-9a-v]{26}$",
                  "description": "TypeID with prefix 'con'",
                  "example": "con_01h455vb4pex5vsknk084sn02q"
                },
                "title": "Contact Ids"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponse"
                  },
                  "title": "Response Attach Contacts To Organization Organizations  Organization Id  Contacts Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/contacts/{contact_id}": {
      "post": {
        "tags": ["Core", "Contacts"],
        "summary": "Attach Contact To Organization",
        "description": "Attach a specific contact to an organization",
        "operationId": "attach_contact_to_organization_organizations__organization_id__contacts__contact_id__post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^con_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'con'",
              "example": "con_01h455vb4pex5vsknk084sn02q",
              "title": "Contact Id"
            }
          },
          {
            "name": "primary",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Primary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/worksites/{worksite_id}/contacts": {
      "get": {
        "tags": ["Core", "Contacts"],
        "summary": "Get Worksite Contacts",
        "description": "Get all contacts attached to a worksite",
        "operationId": "get_worksite_contacts_organizations__organization_id__worksites__worksite_id__contacts_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponse"
                  },
                  "title": "Response Get Worksite Contacts Organizations  Organization Id  Worksites  Worksite Id  Contacts Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "Contacts"],
        "summary": "Create Worksite Contact",
        "description": "Create a new contact and attach it to a worksite",
        "operationId": "create_worksite_contact_organizations__organization_id__worksites__worksite_id__contacts_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Core", "Contacts"],
        "summary": "Attach Contacts To Worksite",
        "description": "Attach/update contacts for a worksite by contact ID list",
        "operationId": "attach_contacts_to_worksite_organizations__organization_id__worksites__worksite_id__contacts_put",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "worksite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^wst_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'wst'",
              "example": "wst_01h455vb4pex5vsknk084sn02q",
              "title": "Worksite Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^con_[0-9a-v]{26}$",
                  "description": "TypeID with prefix 'con'",
                  "example": "con_01h455vb4pex5vsknk084sn02q"
                },
                "title": "Contact Ids"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponse"
                  },
                  "title": "Response Attach Contacts To Worksite Organizations  Organization Id  Worksites  Worksite Id  Contacts Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/sepa-mandates": {
      "get": {
        "tags": ["Core", "SEPA Mandates"],
        "summary": "List Sepa Mandates",
        "operationId": "list_sepa_mandates_organizations__organization_id__sepa_mandates_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SepaMandateResponse"
                  },
                  "title": "Response List Sepa Mandates Organizations  Organization Id  Sepa Mandates Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core", "SEPA Mandates"],
        "summary": "Create Sepa Mandate",
        "operationId": "create_sepa_mandate_organizations__organization_id__sepa_mandates_post",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SepaMandateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SepaMandateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/sepa-mandates/{mandate_id}": {
      "get": {
        "tags": ["Core", "SEPA Mandates"],
        "summary": "Get Sepa Mandate",
        "operationId": "get_sepa_mandate_organizations__organization_id__sepa_mandates__mandate_id__get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "mandate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mnd_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'mnd'",
              "example": "mnd_01h455vb4pex5vsknk084sn02q",
              "title": "Mandate Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SepaMandateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Core", "SEPA Mandates"],
        "summary": "Update Sepa Mandate",
        "operationId": "update_sepa_mandate_organizations__organization_id__sepa_mandates__mandate_id__patch",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^org_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'org'",
              "example": "org_01h455vb4pex5vsknk084sn02q",
              "title": "Organization Id"
            }
          },
          {
            "name": "mandate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^mnd_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'mnd'",
              "example": "mnd_01h455vb4pex5vsknk084sn02q",
              "title": "Mandate Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SepaMandateUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SepaMandateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/germany": {
      "post": {
        "tags": ["Germany Paycheck Calculator"],
        "summary": "Gtn",
        "operationId": "GTN_germany_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayrollRequest2025"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollResponse2025"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/germany/insurance-agencies": {
      "get": {
        "tags": ["Germany Paycheck Calculator"],
        "summary": "List Insurance Agencies",
        "description": "Get list of insurance agencies with their contribution rates",
        "operationId": "list_insurance_agencies_germany_insurance_agencies_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceAgenciesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/germany/healthagencies": {
      "get": {
        "tags": ["Germany Paycheck Calculator"],
        "summary": "List Health Agencies",
        "operationId": "list_health_agencies_germany_healthagencies_get",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "agencyId",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by agency ID",
              "title": "Agencyid"
            },
            "description": "Filter by agency ID"
          },
          {
            "name": "agencyCode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by agency code",
              "title": "Agencycode"
            },
            "description": "Filter by agency code"
          },
          {
            "name": "fundType",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by fund type",
              "title": "Fundtype"
            },
            "description": "Filter by fund type"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HealthAgenciesResponse"
                  },
                  "title": "Response List Health Agencies Germany Healthagencies Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/germany/payroll": {
      "post": {
        "tags": ["Germany Paycheck Calculator"],
        "summary": "New Payroll",
        "operationId": "new_payroll_germany_payroll_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payroll__germany__schema__request__PayrollRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll__germany__schema__response__PayrollResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/uk/payroll": {
      "post": {
        "tags": ["UK Paycheck Calculator"],
        "summary": "New Payroll",
        "operationId": "new_payroll_uk_payroll_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payroll__uk__schema__request__PayrollRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll__uk__schema__response__PayrollResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerToken": []
          }
        ]
      }
    },
    "/uk/payroll/{payrun_id}": {
      "patch": {
        "tags": ["UK Paycheck Calculator"],
        "summary": "Update Payroll",
        "operationId": "update_payroll_uk_payroll__payrun_id__patch",
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "payrun_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^run_[0-9a-v]{26}$",
              "description": "TypeID with prefix 'run'",
              "example": "run_01h455vb4pex5vsknk084sn02q",
              "title": "Payrun Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payroll__uk__schema__request__PayrollRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll__uk__schema__response__PayrollResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdditionalTaxableGrossItems": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "amount": {
            "anyOf": [
              {
                "type": "number",
[...]
