{
  "openapi": "3.1.0",
  "info": {
    "title": "Intermezzo Global Payroll",
    "summary": "Global Payroll Platform",
    "description": "Intermezzo's global payroll apis, organized by country",
    "version": "1.0.0",
    "x-logo": { "url": "/static/icon.svg" }
  },
  "servers": [
    { "url": "https://sandbox.intermezzo.ai", "description": "Sandbox" }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "tags": ["Core"],
        "summary": "List Orgs",
        "operationId": "list_orgs_organizations_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": { "$ref": "#/components/schemas/OrgResponse" },
                  "type": "array",
                  "title": "Response List Orgs Organizations Get"
                }
              }
            }
          }
        },
        "security": [{ "BearerToken": [] }]
      },
      "post": {
        "tags": ["Core"],
        "summary": "Create Orgs",
        "operationId": "create_orgs_organizations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrgRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrgResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "BearerToken": [] }]
      }
    },
    "/organizations/{organization_id}": {
      "get": {
        "tags": ["Core"],
        "summary": "Get Org",
        "operationId": "get_org_organizations__organization_id__get",
        "security": [{ "BearerToken": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrgResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees/{employee_id}": {
      "get": {
        "tags": ["Core"],
        "summary": "Get Employee",
        "operationId": "get_employee_organizations__organization_id__employees__employee_id__get",
        "security": [{ "BearerToken": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          },
          {
            "name": "employee_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Employee Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/employees": {
      "get": {
        "tags": ["Core"],
        "summary": "List Employees",
        "description": "List all employees for an organization, returning the correct schema per employee.",
        "operationId": "list_employees_organizations__organization_id__employees_get",
        "security": [{ "BearerToken": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Core"],
        "summary": "Create Employees",
        "operationId": "create_employees_organizations__organization_id__employees_post",
        "security": [{ "BearerToken": [] }],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Organization Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/EmployeeRequest" },
                "title": "Employees"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/payrollrun/{run_id}/approve": {
      "post": {
        "tags": ["Core"],
        "summary": "Approve Payroll",
        "operationId": "approve_payroll_payrollrun__run_id__approve_post",
        "security": [{ "BearerToken": [] }],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Run Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RunDetails" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/germany": {
      "post": {
        "tags": ["Germany Paycheck Calculator"],
        "summary": "Gtn",
        "operationId": "GTN_germany_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PayrollRequest2025" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PayrollResponse2025" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/germany/insurance-agencies": {
      "get": {
        "tags": ["Germany Paycheck Calculator"],
        "summary": "List Insurance Agencies",
        "description": "Get list of insurance agencies with their contribution rates",
        "operationId": "list_insurance_agencies_germany_insurance_agencies_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceAgenciesResponse"
                }
              }
            }
          }
        },
        "security": [{ "BearerToken": [] }]
      }
    },
    "/germany/payroll": {
      "post": {
        "tags": ["Germany Paycheck Calculator"],
        "summary": "New Payroll",
        "operationId": "new_payroll_germany_payroll_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payroll__germany__schema__request__PayrollRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll__germany__schema__response__PayrollResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "BearerToken": [] }]
      }
    },
    "/uk/payroll": {
      "post": {
        "tags": ["UK Paycheck Calculator"],
        "summary": "New Payroll",
        "operationId": "new_payroll_uk_payroll_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payroll__uk__schema__request__PayrollRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll__uk__schema__response__PayrollResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "BearerToken": [] }]
      }
    },
    "/uk/payroll/{payrun_id}": {
      "patch": {
        "tags": ["UK Paycheck Calculator"],
        "summary": "Update Payroll",
        "operationId": "update_payroll_uk_payroll__payrun_id__patch",
        "security": [{ "BearerToken": [] }],
        "parameters": [
          {
            "name": "payrun_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Payrun Id" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payroll__uk__schema__request__PayrollRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payroll__uk__schema__response__PayrollResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdditionalTaxableGrossItems": {
        "properties": {
          "name": { "type": "string", "title": "Name" },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Amount"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["name", "amount"],
        "title": "AdditionalTaxableGrossItems"
      },
      "BankAccountRequest": {
        "properties": {
          "financialInstitutionName": {
            "type": "string",
            "title": "Financialinstitutionname"
          },
          "accountNumber": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Accountnumber"
          },
          "routingNumber": {
            "anyOf": [
              { "type": "string", "maxLength": 9, "minLength": 9 },
              { "type": "null" }
            ],
            "title": "Routingnumber"
          },
          "iban": {
            "anyOf": [
              { "type": "string", "maxLength": 34, "title": "IBAN" },
              { "type": "null" }
            ],
            "title": "Iban"
          },
          "isActive": {
            "type": "boolean",
            "title": "Isactive",
            "default": true
          },
          "isPrimary": {
            "type": "boolean",
            "title": "Isprimary",
            "default": false
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["financialInstitutionName"],
        "title": "BankAccountRequest",
        "description": "Schema for creating/updating bank accounts"
      },
      "BankAccountResponse": {
        "properties": {
          "financialInstitutionName": {
            "type": "string",
            "title": "Financialinstitutionname"
          },
          "accountNumber": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Accountnumber"
          },
          "routingNumber": {
            "anyOf": [
              { "type": "string", "maxLength": 9, "minLength": 9 },
              { "type": "null" }
            ],
            "title": "Routingnumber"
          },
          "iban": {
            "anyOf": [
              { "type": "string", "title": "IBAN" },
              { "type": "null" }
            ],
            "title": "Iban"
          },
          "isActive": {
            "type": "boolean",
            "title": "Isactive",
            "default": true
          },
          "isPrimary": {
            "type": "boolean",
            "title": "Isprimary",
            "default": false
          },
          "id": { "type": "string", "title": "Id" },
          "employeeId": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Employeeid"
          },
          "orgId": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Orgid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "title": "Createdat"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Updatedat"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "financialInstitutionName",
          "id",
          "employeeId",
          "orgId",
          "createdAt",
          "updatedAt"
        ],
        "title": "BankAccountResponse",
        "description": "Schema for bank account responses"
      },
      "BaseSalary": {
        "properties": {
          "amount": {
            "anyOf": [
              {
                "type": "number",
                "exclusiveMaximum": 1000000000.0,
                "minimum": 0.0
              },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Amount",
            "description": "Gross pay amount",
            "default": "0.00"
          },
          "paymentPeriod": {
            "$ref": "#/components/schemas/payroll__germany__schemas__PaymentPeriod",
            "description": "Lohnzahlungszeitraum (LZZ) - 1=Year, 2=Month, 3=Week, 4=Day"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["paymentPeriod"],
        "title": "BaseSalary"
      },
      "BenefitType": {
        "type": "string",
        "enum": [
          "Company Car",
          "Car Fuel",
          "Van",
          "Van Fuel",
          "Living Accommodation",
          "Beneficial Loan",
          "Medical Insurance",
          "Asset Transferred",
          "Asset Available",
          "Mileage Allowance",
          "Entertainment",
          "Credit Card",
          "Vouchers",
          "Telephone",
          "Mobile Telephone",
          "Relocation Expenses",
          "Services Provided",
          "Professional Subscription",
          "Other Benefit",
          "School Fees",
          "Educational Assistance",
          "Childcare",
          "Holiday",
          "Non-Executive Director Fees",
          "Scholarships"
        ],
        "title": "BenefitType"
      },
      "Benefits": {
        "properties": {
          "name": { "$ref": "#/components/schemas/BenefitType" },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Amount",
            "description": "Amount of benefit",
            "default": "0.00"
          },
          "makeGoodAmount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Makegoodamount",
            "description": "Amount paid by employee for the benefit",
            "default": "0.00"
          },
          "foregoneAmount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Foregoneamount",
            "description": "If subject to OpRa, amount foregone",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["name"],
        "title": "Benefits"
      },
      "BusinessType": {
        "type": "string",
        "enum": [
          "Sole Proprietorship",
          "LLC",
          "C Corporation",
          "S Corporation",
          "Partnership"
        ],
        "title": "BusinessType"
      },
      "Car": {
        "properties": {
          "name": { "type": "string", "const": "Company Car", "title": "Name" },
          "value": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Value",
            "description": "Cost of car"
          },
          "additionalPayments": {
            "anyOf": [
              { "type": "number" },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Additionalpayments",
            "description": "Zuzahl. Firmenw. stpfl.",
            "default": "0.00"
          },
          "privateTrip": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Privatetrip",
            "description": "Privatfahrten",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["name"],
        "title": "Car"
      },
      "CompanyCar": {
        "properties": {
          "additionalPayments": {
            "anyOf": [
              { "type": "number" },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Additionalpayments",
            "description": "Zuzahl. Firmenw. stpfl."
          },
          "privateTrip": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Privatetrip",
            "description": "Privatfahrten"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "CompanyCar"
      },
      "CompanyPension": {
        "properties": {
          "employeeContribution": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Employeecontribution",
            "description": "bAV AN",
            "default": "0.00"
          },
          "employerContribution": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Employercontribution",
            "description": "bAV AG",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "CompanyPension"
      },
      "Deduction": {
        "properties": {
          "name": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Name"
          },
          "amount": { "type": "string", "title": "Amount", "default": "0.00" }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "Deduction"
      },
      "DeductionType": {
        "type": "string",
        "enum": ["Garnishment", "Loan Repayment"],
        "title": "DeductionType"
      },
      "DeductionsResponse": {
        "properties": {
          "name": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Name"
          },
          "amount": { "type": "string", "title": "Amount", "default": "0.00" }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "DeductionsResponse"
      },
      "EarningType": {
        "type": "string",
        "enum": ["Salary", "Commissions", "Bonus", "Allowances", "Other"],
        "title": "EarningType"
      },
      "EmployeeBenefits": {
        "properties": {
          "benefitsInKind": {
            "type": "string",
            "title": "Benefitsinkind",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployeeBenefits"
      },
      "EmployeeDetails": {
        "properties": {
          "employeeId": {
            "type": "integer",
            "title": "Employeeid",
            "description": "Mitarbeiterkennzeichen - Employee identification number"
          },
          "yearOfBirth": {
            "type": "integer",
            "maximum": 2025.0,
            "minimum": 1850.0,
            "title": "Yearofbirth",
            "description": "Geburtsjahr - Birth Year to check eligibility for Altersentlastungsbetrag"
          },
          "agreedWorkHoursPerWeek": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Agreedworkhoursperweek",
            "description": "Agreed work hours per week",
            "default": "0"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["employeeId", "yearOfBirth"],
        "title": "EmployeeDetails"
      },
      "EmployeeRequest": {
        "properties": {
          "legalFullName": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Legalfullname"
          },
          "personalEmail": {
            "anyOf": [
              { "type": "string", "format": "email" },
              { "type": "null" }
            ],
            "title": "Personalemail"
          },
          "workEmail": {
            "anyOf": [
              { "type": "string", "format": "email" },
              { "type": "null" }
            ],
            "title": "Workemail"
          },
          "phoneNumbers": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/PhoneNumbers" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Phonenumbers",
            "description": "List of phone numbers with type and primary status",
            "example": [
              {
                "isPrimary": true,
                "phoneNumber": "+447911123456",
                "phoneType": "mobile"
              }
            ]
          },
          "dob": {
            "anyOf": [
              { "type": "string", "format": "date" },
              { "type": "null" }
            ],
            "title": "Dob"
          },
          "residentialAddress": {
            "type": "string",
            "title": "Residentialaddress"
          },
          "department": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Department"
          },
          "startDate": {
            "anyOf": [
              { "type": "string", "format": "date" },
              { "type": "null" }
            ],
            "title": "Startdate"
          },
          "terminationDate": {
            "anyOf": [
              { "type": "string", "format": "date" },
              { "type": "null" }
            ],
            "title": "Terminationdate"
          },
          "companyOfficer": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Companyofficer"
          },
          "companyContact": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Companycontact"
          },
          "worksiteId": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Worksiteid"
          },
          "taxInfo": {
            "oneOf": [
              { "$ref": "#/components/schemas/UKTaxInfo" },
              { "$ref": "#/components/schemas/USTaxInfo" }
            ],
            "title": "Taxinfo",
            "discriminator": {
              "propertyName": "country",
              "mapping": {
                "UnitedKingdom": "#/components/schemas/UKTaxInfo",
                "UnitedStates": "#/components/schemas/USTaxInfo"
              }
            }
          },
          "bankAccounts": {
            "items": { "$ref": "#/components/schemas/BankAccountRequest" },
            "type": "array",
            "title": "Bankaccounts"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "legalFullName",
          "personalEmail",
          "workEmail",
          "dob",
          "residentialAddress",
          "department",
          "startDate",
          "companyOfficer",
          "companyContact",
          "worksiteId",
          "taxInfo",
          "bankAccounts"
        ],
        "title": "EmployeeRequest",
        "description": "Schema for creating/updating employees"
      },
      "EmployerLiabilitiesResponse": {
        "properties": {
          "pensionContribution": {
            "type": "string",
            "title": "Pensioncontribution",
            "description": "",
            "default": "0.00"
          },
          "healthInsuranceContribution": {
            "type": "string",
            "title": "Healthinsurancecontribution",
            "description": "Vorsorgepauschale (VKVLZZ) - Insurance allowance for the period",
            "default": "0.00"
          },
          "careInsuranceContribution": {
            "type": "string",
            "title": "Careinsurancecontribution",
            "description": "",
            "default": "0.00"
          },
          "unemploymentInsuranceContribution": {
            "type": "string",
            "title": "Unemploymentinsurancecontribution",
            "description": "",
            "default": "0.00"
          },
          "sickPayInsuranceContribution": {
            "type": "string",
            "title": "Sickpayinsurancecontribution",
            "description": "",
            "default": "0.00"
          },
          "maternityPayInsuranceContribution": {
            "type": "string",
            "title": "Maternitypayinsurancecontribution",
            "description": "",
            "default": "0.00"
          },
          "insolvencyInsuranceContribution": {
            "type": "string",
            "title": "Insolvencyinsurancecontribution",
            "description": "",
            "default": "0.00"
          },
          "totalBurden": {
            "type": "string",
            "title": "Totalburden",
            "description": "",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployerLiabilitiesResponse"
      },
      "EmployerSummary": {
        "properties": {
          "pensionContribution": {
            "type": "string",
            "title": "Pensioncontribution",
            "default": "0.00"
          },
          "healthInsuranceContribution": {
            "type": "string",
            "title": "Healthinsurancecontribution",
            "default": "0.00"
          },
          "careInsuranceContribution": {
            "type": "string",
            "title": "Careinsurancecontribution",
            "default": "0.00"
          },
          "unemploymentInsuranceContribution": {
            "type": "string",
            "title": "Unemploymentinsurancecontribution",
            "default": "0.00"
          },
          "sickPayInsuranceContribution": {
            "type": "string",
            "title": "Sickpayinsurancecontribution",
            "default": "0.00"
          },
          "maternityPayInsuranceContribution": {
            "type": "string",
            "title": "Maternitypayinsurancecontribution",
            "default": "0.00"
          },
          "insolvencyInsuranceContribution": {
            "type": "string",
            "title": "Insolvencyinsurancecontribution",
            "default": "0.00"
          },
          "totalBurden": {
            "type": "string",
            "title": "Totalburden",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployerSummary"
      },
      "Errors": {
        "properties": {
          "employeeId": {
            "anyOf": [
              { "type": "string" },
              { "type": "integer" },
              { "type": "null" }
            ],
            "title": "Employeeid"
          },
          "error": { "type": "string", "title": "Error" }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["employeeId", "error"],
        "title": "Errors"
      },
      "GermanStates": {
        "type": "string",
        "enum": [
          "Baden-Württemberg",
          "Bayern",
          "Berlin",
          "Brandenburg",
          "Bremen",
          "Hamburg",
          "Hessen",
          "Mecklenburg-Vorpommern",
          "Niedersachsen",
          "Nordrhein-Westfalen",
          "Rheinland-Pfalz",
          "Saarland",
          "Sachsen",
          "Sachsen-Anhalt",
          "Schleswig-Holstein",
          "Thüringen"
        ],
        "title": "GermanStates",
        "description": "German states (Bundesländer) with their official names"
      },
      "GrossWages": {
        "properties": {
          "earnings": {
            "$ref": "#/components/schemas/payroll__germany__schemas__Earnings"
          },
          "companyCar": {
            "anyOf": [
              { "$ref": "#/components/schemas/CompanyCar" },
              { "type": "null" }
            ],
            "description": "Firmenwagen"
          },
          "companyPension": {
            "anyOf": [
              { "$ref": "#/components/schemas/CompanyPension" },
              { "type": "null" }
            ]
          },
          "vwl": {
            "anyOf": [
              { "$ref": "#/components/schemas/VWL" },
              { "type": "null" }
            ]
          },
          "additionalItems": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/AdditionalTaxableGrossItems"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Additionalitems"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["earnings"],
        "title": "GrossWages"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": { "$ref": "#/components/schemas/ValidationError" },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HealthInsuranceType": {
        "type": "string",
        "enum": [
          "Statutory KV",
          "Private KV without employer subsidy",
          "Private KV with employer subsidy"
        ],
        "title": "HealthInsuranceType",
        "description": "Krankenversicherungsart (PKV)"
      },
      "HourlyEarnings": {
        "properties": {
          "earningType": {
            "type": "string",
            "enum": [
              "Holiday Work",
              "Hourly Wage",
              "Increased Night Shift",
              "Night Shift",
              "Special Holiday Work",
              "Sunday Work"
            ],
            "title": "Earningtype"
          },
          "hoursWorked": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Hoursworked",
            "description": "Number of hours worked"
          },
          "hourlyRate": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Hourlyrate",
            "description": "Hourly rate in euros"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["earningType", "hoursWorked", "hourlyRate"],
        "title": "HourlyEarnings"
      },
      "InsuranceAgenciesResponse": {
        "properties": {
          "agencies": {
            "items": { "$ref": "#/components/schemas/InsuranceAgencyResponse" },
            "type": "array",
            "title": "Agencies"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["agencies"],
        "title": "InsuranceAgenciesResponse",
        "description": "Response wrapper for list of insurance agencies",
        "examples": [
          {
            "agencies": [
              {
                "agencyCode": "12345678",
                "contributionRate": 1.2,
                "shortName": "TK"
              },
              {
                "agencyCode": "87654321",
                "contributionRate": 1.5,
                "shortName": "AOK"
              }
            ]
          }
        ]
      },
      "InsuranceAgencyResponse": {
        "properties": {
          "agencyCode": {
            "type": "string",
            "title": "Agencycode",
            "description": "Insurance agency identification code"
          },
          "shortName": {
            "type": "string",
            "title": "Shortname",
            "description": "Short name of the insurance agency"
          },
          "contributionRate": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Contributionrate",
            "description": "Additional health insurance contribution rate in percent"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["agencyCode", "shortName"],
        "title": "InsuranceAgencyResponse",
        "description": "Response schema for insurance agency endpoint"
      },
      "InsuranceDetails": {
        "properties": {
          "pensionInsuranceType": {
            "$ref": "#/components/schemas/PensionInsuranceType",
            "description": "Rentenversicherung (KRV) - Pension insurance type"
          },
          "healthInsuranceType": {
            "$ref": "#/components/schemas/HealthInsuranceType",
            "description": "Krankenversicherung (PKV) - Health insurance type"
          },
          "healthInsurerAgencyCode": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Healthinsureragencycode",
            "description": "Krankenversicherungscode (KVK) - Health insurer agency code"
          },
          "privateInsuranceMonthly": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Privateinsurancemonthly",
            "description": "Private Krankenversicherung (PKPV) - Monthly private health/care insurance contribution",
            "default": "0"
          },
          "careInsuranceChildren": {
            "type": "integer",
            "maximum": 5.0,
            "minimum": 0.0,
            "title": "Careinsurancechildren",
            "description": "Anzahl Kinder Pflegeversicherung (PVA) - Number of children for care insurance discount (0-5), choose 5 for 5 or more",
            "default": 0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["pensionInsuranceType", "healthInsuranceType"],
        "title": "InsuranceDetails"
      },
      "NICCategory": {
        "type": "string",
        "enum": [
          "A",
          "B",
          "C",
          "D",
          "E",
          "F",
          "H",
          "I",
          "J",
          "K",
          "L",
          "M",
          "N",
          "S",
          "V",
          "X",
          "Z"
        ],
        "title": "NICCategory",
        "description": "NIC Letter Categories"
      },
      "NonCarBenefits": {
        "properties": {
          "name": {
            "anyOf": [
              { "type": "string", "const": "Company Pension" },
              { "type": "string", "const": "Capital-forming" },
              { "type": "string", "const": "Allowances" },
              { "type": "string", "const": "Meal Plan" },
              { "type": "string", "const": "Gym" },
              { "type": "string", "const": "Other" }
            ],
            "title": "Name"
          },
          "employeeShare": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Employeeshare",
            "default": "0.00"
          },
          "employerShare": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Employershare",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["name"],
        "title": "NonCarBenefits"
      },
      "OrgRequest": {
        "properties": {
          "legalName": { "type": "string", "title": "Legalname" },
          "legalAddress": { "type": "string", "title": "Legaladdress" },
          "dbaName": { "type": "string", "title": "Dbaname" },
          "registrationCountry": {
            "type": "string",
            "pattern": "^\\w{2}$",
            "title": "Registrationcountry"
          },
          "incorporationDate": {
            "type": "string",
            "format": "date",
            "title": "Incorporationdate"
          },
          "website": { "type": "string", "title": "Website" },
          "taxIdentifiers": {
            "oneOf": [
              { "$ref": "#/components/schemas/UKTaxIdentifier" },
              { "$ref": "#/components/schemas/USTaxIdentifier" }
            ],
            "title": "Taxidentifiers",
            "discriminator": {
              "propertyName": "country",
              "mapping": {
                "GB": "#/components/schemas/UKTaxIdentifier",
                "US": "#/components/schemas/USTaxIdentifier"
              }
            }
          },
          "externalRef": {
            "anyOf": [
              { "type": "string", "maxLength": 255 },
              { "type": "null" }
            ],
            "title": "Externalref"
          },
          "workSites": {
            "items": { "$ref": "#/components/schemas/WorkSiteRequest" },
            "type": "array",
            "title": "Worksites"
          },
          "bankAccounts": {
            "items": { "$ref": "#/components/schemas/BankAccountRequest" },
            "type": "array",
            "title": "Bankaccounts"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "legalName",
          "legalAddress",
          "dbaName",
          "registrationCountry",
          "incorporationDate",
          "website",
          "taxIdentifiers",
          "workSites",
          "bankAccounts"
        ],
        "title": "OrgRequest",
        "examples": [
          {
            "bankAccounts": [
              {
                "accountNumber": "12345678",
                "financialInstitutionName": "Example Bank",
                "isActive": true,
                "isPrimary": true,
                "routingNumber": "123456789"
              }
            ],
            "dbaName": "ExampleCo",
            "externalRef": "EXT-001234",
            "incorporationDate": "2024-01-15",
            "legalAddress": "123 Example Street, London, EC1A 1BB",
            "legalName": "Example Corporation Ltd",
            "registrationCountry": "GB",
            "taxIdentifiers": {
              "accountsOfficeReference": "123PA00000001",
              "businessType": "Limited Company",
              "country": "GB",
              "payeReferenceNumber": "123/A45678"
            },
            "website": "https://example-company.com",
            "workSites": [
              {
                "address": "123 Example Street, London, EC1A 1BB",
                "isActive": true,
                "isPrimary": true,
                "name": "Headquarters"
              },
              {
                "address": "456 Sample Road, Manchester, M1 2AB",
                "isActive": true,
                "isPrimary": false,
                "name": "Branch Office"
              }
            ]
          }
        ]
      },
      "OrgResponse": {
        "properties": {
          "legalName": { "type": "string", "title": "Legalname" },
          "legalAddress": { "type": "string", "title": "Legaladdress" },
          "dbaName": { "type": "string", "title": "Dbaname" },
          "registrationCountry": {
            "type": "string",
            "pattern": "^\\w{2}$",
            "title": "Registrationcountry"
          },
          "incorporationDate": {
            "type": "string",
            "format": "date",
            "title": "Incorporationdate"
          },
          "website": { "type": "string", "title": "Website" },
          "taxIdentifiers": {
            "oneOf": [
              { "$ref": "#/components/schemas/UKTaxIdentifier" },
              { "$ref": "#/components/schemas/USTaxIdentifier" }
            ],
            "title": "Taxidentifiers",
            "discriminator": {
              "propertyName": "country",
              "mapping": {
                "GB": "#/components/schemas/UKTaxIdentifier",
                "US": "#/components/schemas/USTaxIdentifier"
              }
            }
          },
          "externalRef": {
            "anyOf": [
              { "type": "string", "maxLength": 255 },
              { "type": "null" }
            ],
            "title": "Externalref"
          },
          "id": { "type": "string", "title": "Id" },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "title": "Createdat"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Updatedat"
          },
          "createdBy": { "type": "string", "title": "Createdby" },
          "workSites": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/WorkSiteResponse" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Worksites"
          },
          "bankAccounts": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/BankAccountResponse" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Bankaccounts"
          }
        },
        "type": "object",
        "required": [
          "legalName",
          "legalAddress",
          "dbaName",
          "registrationCountry",
          "incorporationDate",
          "website",
          "taxIdentifiers",
          "id",
          "createdAt",
          "updatedAt",
          "createdBy",
          "workSites",
          "bankAccounts"
        ],
        "title": "OrgResponse",
        "examples": [
          {
            "bankAccounts": [
              {
                "accountNumber": "12345678",
                "createdAt": "2024-03-15T10:30:45.456789Z",
                "financialInstitutionName": "Example Bank",
                "id": "ban_01234567890abcdefghijklmnop",
                "isActive": true,
                "isPrimary": true,
                "orgId": "org_01234567890abcdefghijklmnop",
                "routingNumber": "123456789",
                "updatedAt": "2024-03-15T10:30:45.456789Z"
              }
            ],
            "createdAt": "2024-03-15T10:30:45.123456Z",
            "createdBy": "user_01234567890abcdefghijklmnop",
            "dbaName": "ExampleCo",
            "externalRef": "EXT-001234",
            "id": "org_01234567890abcdefghijklmnop",
            "incorporationDate": "2024-01-15",
            "legalAddress": "123 Example Street, London, EC1A 1BB",
            "legalName": "Example Corporation Ltd",
            "registrationCountry": "GB",
            "taxIdentifiers": {
              "accountsOfficeReference": "123PA00000001",
              "businessType": "Limited Company",
              "country": "GB",
              "payeReferenceNumber": "123/A45678"
            },
            "updatedAt": "2024-03-15T10:30:45.123456Z",
            "website": "https://example-company.com/",
            "workSites": [
              {
                "address": "123 Example Street, London, EC1A 1BB",
                "createdAt": "2024-03-15T10:30:45.234567Z",
                "id": "wst_01234567890abcdefghijklmnop",
                "isActive": true,
                "isPrimary": true,
                "name": "Headquarters",
                "orgId": "org_01234567890abcdefghijklmnop",
                "updatedAt": "2024-03-15T10:30:45.234567Z"
              },
              {
                "address": "456 Sample Road, Manchester, M1 2AB",
                "createdAt": "2024-03-15T10:30:45.345678Z",
                "id": "wst_09876543210zyxwvutsrqponmlk",
                "isActive": true,
                "isPrimary": false,
                "name": "Branch Office",
                "orgId": "org_01234567890abcdefghijklmnop",
                "updatedAt": "2024-03-15T10:30:45.345678Z"
              }
            ]
          }
        ]
      },
      "OtherEarnings": {
        "properties": {
          "earningType": {
            "type": "string",
            "enum": ["Commissions", "Bonus", "Allowances", "Other"],
            "title": "Earningtype"
          },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Amount",
            "description": "Earnings amount"
          },
          "earningFrequency": {
            "anyOf": [
              { "$ref": "#/components/schemas/PayCycleType-Input" },
              { "type": "null" }
            ],
            "description": "If recurring, specify the frequency",
            "default": "Month"
          },
          "isLumpsum": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Islumpsum",
            "description": "True if onetime (Einmalig). False if recurring (Laufend)",
            "default": false
          },
          "doGrossup": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Dogrossup",
            "description": "True if the amount needs to be grossed up",
            "default": false
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["earningType", "amount"],
        "title": "OtherEarnings"
      },
      "PayCycleType-Input": {
        "type": "string",
        "enum": ["Year", "Month", "Week", "Day"],
        "title": "PayCycleType",
        "description": "Lohnzahlungszeitraum (LZZ)"
      },
      "PayPeriodResponse": {
        "properties": {
          "paymentPeriod": {
            "$ref": "#/components/schemas/PaymentPeriod-Output"
          },
          "employeeId": { "type": "integer", "title": "Employeeid" },
          "currentPayPeriod": {
            "$ref": "#/components/schemas/PayrollAmountsResponse"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["paymentPeriod", "employeeId", "currentPayPeriod"],
        "title": "PayPeriodResponse"
      },
      "PaymentPeriod-Output": {
        "type": "string",
        "enum": ["Year", "Month", "Week", "Day"],
        "title": "PaymentPeriod",
        "description": "Lohnzahlungszeitraum (LZZ)"
      },
      "PayrollAmountsResponse": {
        "properties": {
          "employee": { "$ref": "#/components/schemas/PayrollResponseBase" },
          "employer": {
            "$ref": "#/components/schemas/EmployerLiabilitiesResponse"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["employee", "employer"],
        "title": "PayrollAmountsResponse"
      },
      "PayrollRequest2025": {
        "properties": {
          "payrollRun": {
            "items": {
              "$ref": "#/components/schemas/payroll__germany__schemas__PayrollRequestBase"
            },
            "type": "array",
            "title": "Payrollrun"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["payrollRun"],
        "title": "PayrollRequest2025",
        "description": "Input parameters according to PAP2025",
        "examples": [
          {
            "payrollRun": [
              {
                "careInsuranceChildren": 2,
                "childAllowances": 2,
                "churchTaxState": "Berlin",
                "employeeId": 100,
                "grossWages": 54000,
                "healthInsuranceType": "Statutory KV",
                "healthInsurer": "TK",
                "inSaxony": false,
                "isChurchMember": true,
                "paymentPeriod": "Year",
                "pensionInsuranceType": "Statutory",
                "taxClass": "1",
                "yearOfBirth": 1960
              }
            ]
          },
          {
            "payrollRun": [
              {
                "careInsuranceChildren": 1,
                "childAllowances": 1.5,
                "employeeId": 101,
                "grossWages": 4500,
                "healthInsuranceType": "Private KV with employer subsidy",
                "healthInsurer": "OTHER",
                "inSaxony": true,
                "isChurchMember": false,
                "paymentPeriod": "Month",
                "pensionInsuranceType": "Statutory",
                "privateInsuranceMonthly": 400.0,
                "taxClass": "3",
                "yearOfBirth": 1985
              }
            ]
          }
        ],
        "x-order": ["payrollRun"]
      },
      "PayrollResponse2025": {
        "properties": {
          "summary": { "$ref": "#/components/schemas/PayrollAmountsResponse" },
          "grossToNet": {
            "items": { "$ref": "#/components/schemas/PayPeriodResponse" },
            "type": "array",
            "title": "Grosstonet"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["summary", "grossToNet"],
        "title": "PayrollResponse2025",
        "description": "Output parameters according to PAP2025"
      },
      "PayrollResponseBase": {
        "properties": {
          "grossWages": {
            "type": "string",
            "title": "Grosswages",
            "description": "Steuerpflichtiger Arbeitslohn (RE4) - Taxable wages for the period",
            "default": "0.00"
          },
          "healthInsuranceAdditionalRate": {
            "type": "string",
            "title": "Healthinsuranceadditionalrate",
            "default": "0.00"
          },
          "wageTax": {
            "type": "string",
            "title": "Wagetax",
            "description": "Lohnsteuer (LSTLZZ) - Wage tax for the period",
            "default": "0.00"
          },
          "solidaritySurcharge": {
            "type": "string",
            "title": "Solidaritysurcharge",
            "description": "Solidaritätszuschlag (SOLZLZZ) - Solidarity surcharge for the period",
            "default": "0.00"
          },
          "churchTaxAssessmentBasis": {
            "type": "string",
            "title": "Churchtaxassessmentbasis"
          },
          "churchTax": {
            "type": "string",
            "title": "Churchtax",
            "description": "Bemessungsgrundlage Kirchensteuer (BK) - Church tax base amount",
            "default": "0.00"
          },
          "pensionContribution": {
            "type": "string",
            "title": "Pensioncontribution",
            "description": "",
            "default": "0.00"
          },
          "healthInsuranceContribution": {
            "type": "string",
            "title": "Healthinsurancecontribution",
            "description": "Vorsorgepauschale (VKVLZZ) - Insurance allowance for the period",
            "default": "0.00"
          },
          "careInsuranceContribution": {
            "type": "string",
            "title": "Careinsurancecontribution",
            "description": "",
            "default": "0.00"
          },
          "unemploymentInsuranceContribution": {
            "type": "string",
            "title": "Unemploymentinsurancecontribution",
            "description": "",
            "default": "0.00"
          },
          "netPay": {
            "type": "string",
            "title": "Netpay",
            "description": "Nettoverdienst - Net Pay for the period",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "PayrollResponseBase"
      },
      "PayrunStatus": {
        "type": "string",
        "enum": ["draft", "approved", "paid"],
        "title": "PayrunStatus",
        "description": "Payrun status"
      },
      "PensionInsuranceType": {
        "type": "string",
        "enum": ["Statutory", "Other"],
        "title": "PensionInsuranceType",
        "description": "Merker für die Vorsorgepauschale (KRV)"
      },
      "PhoneNumbers": {
        "properties": {
          "phoneNumber": {
            "type": "string",
            "format": "phone",
            "title": "Phonenumber"
          },
          "phoneType": { "$ref": "#/components/schemas/PhoneType" },
          "isPrimary": { "type": "boolean", "title": "Isprimary" }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["phoneNumber", "phoneType", "isPrimary"],
        "title": "PhoneNumbers"
      },
      "PhoneType": {
        "type": "string",
        "enum": ["mobile", "home", "work"],
        "title": "PhoneType"
      },
      "Reimbursement-Output": {
        "properties": {
          "name": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Name"
          },
          "amount": { "type": "string", "title": "Amount", "default": "0.00" }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "Reimbursement"
      },
      "ReimbursementResponse": {
        "properties": {
          "name": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Name"
          },
          "amount": { "type": "string", "title": "Amount", "default": "0.00" }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "ReimbursementResponse"
      },
      "RunDetails": {
        "properties": {
          "runId": { "type": "string", "title": "Runid" },
          "externalRef": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Externalref"
          },
          "status": { "$ref": "#/components/schemas/PayrunStatus" }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["runId", "externalRef", "status"],
        "title": "RunDetails"
      },
      "SalariedEarnings": {
        "properties": {
          "earningType": {
            "type": "string",
            "const": "Salary",
            "title": "Earningtype"
          },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Amount",
            "description": "Earnings amount (taxable gross)"
          },
          "earningFrequency": {
            "anyOf": [
              { "$ref": "#/components/schemas/PayCycleType-Input" },
              { "type": "null" }
            ],
            "description": "If recurring, specify the frequency",
            "default": "Month"
          },
          "isLumpsum": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Islumpsum",
            "description": "True if onetime (Einmalig). False if recurring (Laufend)",
            "default": false
          },
          "doGrossup": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Dogrossup",
            "description": "True if the amount needs to be grossed up",
            "default": false
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["earningType", "amount"],
        "title": "SalariedEarnings"
      },
      "StudentLoanPlanType": {
        "type": "string",
        "enum": ["Plan1", "Plan2", "Plan4"],
        "title": "StudentLoanPlanType",
        "description": "Types of student loan plans"
      },
      "Summary": {
        "properties": {
          "employer": { "$ref": "#/components/schemas/EmployerSummary" }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "Summary"
      },
      "SupportedHealthInsurers": {
        "type": "string",
        "enum": ["AOK", "BARMER", "DAK", "IKK", "TK", "OTHER"],
        "title": "SupportedHealthInsurers",
        "description": "Supported health insurers"
      },
      "TaxAttributes": {
        "properties": {
          "taxClass": {
            "$ref": "#/components/schemas/TaxClassType",
            "description": "Steuerklasse (STKL) - Tax class"
          },
          "isFactor": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Isfactor",
            "description": "Faktorverfahren (AF) - Factor procedure flag (only for tax class IV)",
            "default": false
          },
          "factor": {
            "anyOf": [
              {
                "type": "number",
                "multipleOf": 0.001,
                "exclusiveMaximum": 1.0,
                "minimum": 0.001
              },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Factor",
            "description": "Faktor (F) - Factor for factor procedure"
          },
          "childAllowances": {
            "anyOf": [
              {
                "type": "number",
                "multipleOf": 0.5,
                "maximum": 9.0,
                "minimum": 0.0
              },
              { "type": "string" }
            ],
            "title": "Childallowances",
            "description": "Kinderfreibeträge (ZKF) - Number of child allowances (decimal place for shared allowances)",
            "default": "0"
          },
          "isChurchMember": {
            "type": "boolean",
            "title": "Ischurchmember",
            "description": "Religionsgemeinschaft (R) - Church membership",
            "default": false
          },
          "taxState": {
            "anyOf": [
              { "$ref": "#/components/schemas/GermanStates" },
              { "type": "null" }
            ],
            "description": "Bundesländer - Residency state",
            "default": "Berlin"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["taxClass"],
        "title": "TaxAttributes"
      },
      "TaxClass": {
        "type": "string",
        "enum": ["1", "2", "3", "4", "5", "6"],
        "title": "TaxClass",
        "description": "Steuerklasse (STKL)"
      },
      "TaxClassType": {
        "type": "string",
        "enum": ["1", "2", "3", "4", "5", "6"],
        "title": "TaxClassType",
        "description": "Steuerklasse (STKL)"
      },
      "UKBusinessType": {
        "type": "string",
        "enum": [
          "Sole Trader",
          "Partnership",
          "Limited Company",
          "Public Limited Company",
          "Limited Liability Partnership",
          "Community Interest Company"
        ],
        "title": "UKBusinessType"
      },
      "UKTaxIdentifier": {
        "properties": {
          "country": { "type": "string", "const": "GB", "title": "Country" },
          "businessType": { "$ref": "#/components/schemas/UKBusinessType" },
          "payeReferenceNumber": {
            "type": "string",
            "title": "Payereferencenumber"
          },
          "accountsOfficeReference": {
            "type": "string",
            "title": "Accountsofficereference"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "country",
          "businessType",
          "payeReferenceNumber",
          "accountsOfficeReference"
        ],
        "title": "UKTaxIdentifier"
      },
      "UKTaxInfo": {
        "properties": {
          "country": {
            "type": "string",
            "const": "UnitedKingdom",
            "title": "Country",
            "default": "UnitedKingdom"
          },
          "taxIdentifier": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Taxidentifier"
          },
          "employeeId": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Employeeid"
          },
          "niNumber": {
            "type": "string",
            "maxLength": 9,
            "minLength": 9,
            "title": "Ninumber"
          },
          "niCategory": { "$ref": "#/components/schemas/NICCategory" },
          "taxCode": { "type": "string", "maxLength": 10, "title": "Taxcode" },
          "studentLoanType": {
            "anyOf": [
              { "$ref": "#/components/schemas/StudentLoanPlanType" },
              { "type": "null" }
            ]
          },
          "postgraduateLoan": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Postgraduateloan",
            "default": false
          },
          "validFrom": {
            "anyOf": [
              { "type": "string", "format": "date" },
              { "type": "null" }
            ],
            "title": "Validfrom"
          },
          "validTo": {
            "anyOf": [
              { "type": "string", "format": "date" },
              { "type": "null" }
            ],
            "title": "Validto"
          },
          "p45GrossPay": {
            "anyOf": [
              { "type": "number" },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "P45Grosspay",
            "default": "0.00"
          },
          "p45TaxAmount": {
            "anyOf": [
              { "type": "number" },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "P45Taxamount",
            "default": "0.00"
          },
          "p45NetPay": {
            "anyOf": [
              { "type": "number" },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "P45Netpay",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["taxIdentifier", "niNumber", "niCategory", "taxCode"],
        "title": "UKTaxInfo",
        "description": "Base model for UK-specific tax information"
      },
      "USTaxIdentifier": {
        "properties": {
          "country": { "type": "string", "const": "US", "title": "Country" },
          "ein": { "type": "string", "title": "Ein" },
          "businessType": { "$ref": "#/components/schemas/BusinessType" }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["country", "ein", "businessType"],
        "title": "USTaxIdentifier"
      },
      "USTaxInfo": {
        "properties": {
          "country": {
            "type": "string",
            "const": "UnitedStates",
            "title": "Country",
            "default": "UnitedStates"
          },
          "ssn": { "type": "string", "title": "Ssn" }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["ssn"],
        "title": "USTaxInfo"
      },
      "VWL": {
        "properties": {
          "employeeContribution": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Employeecontribution",
            "description": "VWL AN",
            "default": "0.00"
          },
          "employerContribution": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Employercontribution",
            "description": "VWL AG",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "VWL"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": { "anyOf": [{ "type": "string" }, { "type": "integer" }] },
            "type": "array",
            "title": "Location"
          },
          "msg": { "type": "string", "title": "Message" },
          "type": { "type": "string", "title": "Error Type" }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      },
      "WorkSiteRequest": {
        "properties": {
          "name": { "type": "string", "title": "Name" },
          "address": { "type": "string", "title": "Address" },
          "isActive": { "type": "boolean", "title": "Isactive" },
          "isPrimary": { "type": "boolean", "title": "Isprimary" }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["name", "address", "isActive", "isPrimary"],
        "title": "WorkSiteRequest"
      },
      "WorkSiteResponse": {
        "properties": {
          "name": { "type": "string", "title": "Name" },
          "address": { "type": "string", "title": "Address" },
          "isActive": { "type": "boolean", "title": "Isactive" },
          "isPrimary": { "type": "boolean", "title": "Isprimary" },
          "id": { "type": "string", "title": "Id" },
          "orgId": { "type": "string", "title": "Orgid" },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "title": "Createdat"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Updatedat"
          }
        },
        "type": "object",
        "required": [
          "name",
          "address",
          "isActive",
          "isPrimary",
          "id",
          "orgId",
          "createdAt",
          "updatedAt"
        ],
        "title": "WorkSiteResponse"
      },
      "payroll__germany__schema__request__Deductions": {
        "properties": {
          "name": {
            "anyOf": [
              { "$ref": "#/components/schemas/DeductionType" },
              { "type": "null" }
            ]
          },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Amount"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["amount"],
        "title": "Deductions"
      },
      "payroll__germany__schema__request__Gross": {
        "properties": {
          "earnings": {
            "anyOf": [
              {
                "items": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SalariedEarnings" },
                    { "$ref": "#/components/schemas/HourlyEarnings" },
                    { "$ref": "#/components/schemas/OtherEarnings" }
                  ]
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Earnings"
          },
          "benefits": {
            "anyOf": [
              {
                "items": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/Car" },
                    { "$ref": "#/components/schemas/NonCarBenefits" }
                  ],
                  "discriminator": {
                    "propertyName": "name",
                    "mapping": {
                      "Allowances": "#/components/schemas/NonCarBenefits",
                      "Capital-forming": "#/components/schemas/NonCarBenefits",
                      "Company Car": "#/components/schemas/Car",
                      "Company Pension": "#/components/schemas/NonCarBenefits",
                      "Gym": "#/components/schemas/NonCarBenefits",
                      "Meal Plan": "#/components/schemas/NonCarBenefits",
                      "Other": "#/components/schemas/NonCarBenefits"
                    }
                  }
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Benefits"
          },
          "deductions": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/payroll__germany__schema__request__Deductions"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Deductions"
          },
          "reimbursements": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/payroll__germany__schema__request__Reimbursement"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Reimbursements"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["earnings", "benefits"],
        "title": "Gross"
      },
      "payroll__germany__schema__request__PayrollRequest": {
        "properties": {
          "payDate": {
            "type": "string",
            "format": "date",
            "title": "Paydate",
            "description": "Payment Date for this payroll"
          },
          "payCycle": { "$ref": "#/components/schemas/PayCycleType-Input" },
          "payrollGroup": {
            "items": {
              "$ref": "#/components/schemas/payroll__germany__schema__request__PayrollRequestBase"
            },
            "type": "array",
            "title": "Payrollgroup"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["payCycle", "payrollGroup"],
        "title": "PayrollRequest",
        "description": "Input parameters according to PAP2025",
        "examples": [
          {
            "payCycle": "Month",
            "payrollGroup": [
              {
                "employeeDetails": { "employeeId": 100, "yearOfBirth": 1962 },
                "insuranceDetails": {
                  "careInsuranceChildren": 0,
                  "healthInsuranceType": "Private KV with employer subsidy",
                  "healthInsurerAgencyCode": "1528962",
                  "pensionInsuranceType": "Statutory",
                  "privateInsuranceMonthly": 741.68
                },
                "payDetails": {
                  "benefits": [
                    {
                      "additionalPayments": -137.0,
                      "name": "Company Car",
                      "privateTrip": 573
                    },
                    { "employerShare": 26.6, "name": "Capital-forming" },
                    { "employeeShare": 1109.24, "name": "Company Pension" }
                  ],
                  "deductions": [{ "amount": 100, "name": "Loan Repayment" }],
                  "earnings": [
                    {
                      "amount": 10554.16,
                      "earningFrequency": "Month",
                      "earningType": "Salary"
                    },
                    {
                      "amount": 102,
                      "earningFrequency": "Month",
                      "earningType": "Allowances"
                    },
                    {
                      "amount": 1.28,
                      "earningFrequency": "Month",
                      "earningType": "Other"
                    }
                  ],
                  "reimbursements": [{ "amount": 1000, "name": "Trip to USA" }]
                },
                "taxAttributes": {
                  "childAllowances": 0,
                  "isChurchMember": false,
                  "taxClass": "3",
                  "taxState": "Berlin"
                }
              }
            ]
          }
        ]
      },
      "payroll__germany__schema__request__PayrollRequestBase": {
        "properties": {
          "employeeDetails": { "$ref": "#/components/schemas/EmployeeDetails" },
          "taxAttributes": { "$ref": "#/components/schemas/TaxAttributes" },
          "insuranceDetails": {
            "$ref": "#/components/schemas/InsuranceDetails"
          },
          "payDetails": {
            "$ref": "#/components/schemas/payroll__germany__schema__request__Gross"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "employeeDetails",
          "taxAttributes",
          "insuranceDetails",
          "payDetails"
        ],
        "title": "PayrollRequestBase",
        "description": "Input parameters"
      },
      "payroll__germany__schema__request__Reimbursement": {
        "properties": {
          "name": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Name"
          },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Amount"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["name", "amount"],
        "title": "Reimbursement"
      },
      "payroll__germany__schema__response__CurrentPayPeriod": {
        "properties": {
          "employee": {
            "$ref": "#/components/schemas/payroll__germany__schema__response__EmployeeCurrentPayPeriod"
          },
          "employer": {
            "$ref": "#/components/schemas/payroll__germany__schema__response__EmployerCurrentPayPeriod"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "CurrentPayPeriod"
      },
      "payroll__germany__schema__response__EmployeeCurrentPayPeriod": {
        "properties": {
          "totals": {
            "$ref": "#/components/schemas/payroll__germany__schema__response__EmployeeTotals"
          },
          "taxes": {
            "$ref": "#/components/schemas/payroll__germany__schema__response__EmployeeTaxes"
          },
          "insurance": {
            "$ref": "#/components/schemas/payroll__germany__schema__response__EmployeeInsurance"
          },
          "deductions": {
            "items": { "$ref": "#/components/schemas/Deduction" },
            "type": "array",
            "title": "Deductions"
          },
          "reimbursements": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/Reimbursement-Output"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Reimbursements"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployeeCurrentPayPeriod"
      },
      "payroll__germany__schema__response__EmployeeInsurance": {
        "properties": {
          "insuranceAssessmentBase": {
            "type": "string",
            "title": "Insuranceassessmentbase",
            "default": "0.00"
          },
          "pensionAssessmentBase": {
            "type": "string",
            "title": "Pensionassessmentbase",
            "default": "0.00"
          },
          "healthInsuranceAdditionalRate": {
            "type": "string",
            "title": "Healthinsuranceadditionalrate",
            "default": "0.00"
          },
          "pensionInsurance": {
            "type": "string",
            "title": "Pensioninsurance",
            "default": "0.00"
          },
          "unemploymentInsurance": {
            "type": "string",
            "title": "Unemploymentinsurance",
            "default": "0.00"
          },
          "healthInsurance": {
            "type": "string",
            "title": "Healthinsurance",
            "default": "0.00"
          },
          "careInsurance": {
            "type": "string",
            "title": "Careinsurance",
            "default": "0.00"
          },
          "totalInsurance": {
            "type": "string",
            "title": "Totalinsurance",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployeeInsurance"
      },
      "payroll__germany__schema__response__EmployeeTaxes": {
        "properties": {
          "incomeTaxAssessmentBase": {
            "type": "string",
            "title": "Incometaxassessmentbase",
            "default": "0.00"
          },
          "solidarityTaxAssessmentBase": {
            "type": "string",
            "title": "Solidaritytaxassessmentbase",
            "default": "0.00"
          },
          "incomeTax": {
            "type": "string",
            "title": "Incometax",
            "default": "0.00"
          },
          "churchTax": {
            "type": "string",
            "title": "Churchtax",
            "default": "0.00"
          },
          "solidarityTax": {
            "type": "string",
            "title": "Solidaritytax",
            "default": "0.00"
          },
          "totalTax": {
            "type": "string",
            "title": "Totaltax",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployeeTaxes"
      },
      "payroll__germany__schema__response__EmployeeTotals": {
        "properties": {
          "totalGrossWages": {
            "type": "string",
            "title": "Totalgrosswages",
            "default": "0.00"
          },
          "taxableGrossWages": {
            "type": "string",
            "title": "Taxablegrosswages",
            "default": "0.00"
          },
          "netWages": {
            "type": "string",
            "title": "Netwages",
            "default": "0.00"
          },
          "totalDeductions": {
            "type": "string",
            "title": "Totaldeductions",
            "default": "0.00"
          },
          "totalReimbursements": {
            "type": "string",
            "title": "Totalreimbursements",
            "default": "0.00"
          },
          "netPay": { "type": "string", "title": "Netpay", "default": "0.00" }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployeeTotals"
      },
      "payroll__germany__schema__response__EmployerCurrentPayPeriod": {
        "properties": {
          "pensionContribution": {
            "type": "string",
            "title": "Pensioncontribution",
            "default": "0.00"
          },
          "healthInsuranceContribution": {
            "type": "string",
            "title": "Healthinsurancecontribution",
            "default": "0.00"
          },
          "careInsuranceContribution": {
            "type": "string",
            "title": "Careinsurancecontribution",
            "default": "0.00"
          },
          "unemploymentInsuranceContribution": {
            "type": "string",
            "title": "Unemploymentinsurancecontribution",
            "default": "0.00"
          },
          "sickPayInsuranceContribution": {
            "type": "string",
            "title": "Sickpayinsurancecontribution",
            "default": "0.00"
          },
          "maternityPayInsuranceContribution": {
            "type": "string",
            "title": "Maternitypayinsurancecontribution",
            "default": "0.00"
          },
          "insolvencyInsuranceContribution": {
            "type": "string",
            "title": "Insolvencyinsurancecontribution",
            "default": "0.00"
          },
          "totalBurden": {
            "type": "string",
            "title": "Totalburden",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployerCurrentPayPeriod"
      },
      "payroll__germany__schema__response__PayrollResponse": {
        "properties": {
          "summary": { "$ref": "#/components/schemas/Summary" },
          "payslips": {
            "items": {
              "$ref": "#/components/schemas/payroll__germany__schema__response__Payslip"
            },
            "type": "array",
            "title": "Payslips"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["payslips"],
        "title": "PayrollResponse"
      },
      "payroll__germany__schema__response__Payslip": {
        "properties": {
          "paymentPeriod": {
            "$ref": "#/components/schemas/payroll__germany__types__PayCycleType",
            "default": "Month"
          },
          "employeeId": { "type": "integer", "title": "Employeeid" },
          "currentPayPeriod": {
            "$ref": "#/components/schemas/payroll__germany__schema__response__CurrentPayPeriod"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["employeeId", "currentPayPeriod"],
        "title": "Payslip"
      },
      "payroll__germany__schemas__Earnings": {
        "properties": {
          "regularWages": { "$ref": "#/components/schemas/BaseSalary" },
          "onetimeIncome": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Onetimeincome",
            "description": "Einmalzahlungen",
            "default": "0.00"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["regularWages"],
        "title": "Earnings"
      },
      "payroll__germany__schemas__PaymentPeriod": {
        "type": "string",
        "enum": ["Year", "Month", "Week", "Day"],
        "title": "PaymentPeriod",
        "description": "Lohnzahlungszeitraum (LZZ)"
      },
      "payroll__germany__schemas__PayrollRequestBase": {
        "properties": {
          "employeeId": {
            "type": "integer",
            "title": "Employeeid",
            "description": "Mitarbeiterkennzeichen - Employee identification number"
          },
          "yearOfBirth": {
            "type": "integer",
            "maximum": 2025.0,
            "minimum": 1850.0,
            "title": "Yearofbirth",
            "description": "Geburtsjahr - Birth Year to check eligibility for Altersentlastungsbetrag"
          },
          "grossWages": { "$ref": "#/components/schemas/GrossWages" },
          "taxClass": {
            "$ref": "#/components/schemas/TaxClass",
            "description": "Steuerklasse (STKL) - Tax class"
          },
          "pensionInsuranceType": {
            "$ref": "#/components/schemas/PensionInsuranceType",
            "description": "Rentenversicherung (KRV) - Pension insurance type"
          },
          "healthInsuranceType": {
            "$ref": "#/components/schemas/HealthInsuranceType",
            "description": "Krankenversicherung (PKV) - Health insurance type"
          },
          "healthInsurer": {
            "anyOf": [
              { "$ref": "#/components/schemas/SupportedHealthInsurers" },
              { "type": "null" }
            ],
            "description": "Health insurer"
          },
          "healthInsurerAgencyCode": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Healthinsureragencycode",
            "description": "Krankenversicherungscode (KVK) - Health insurer agency code"
          },
          "childAllowances": {
            "anyOf": [
              {
                "type": "number",
                "multipleOf": 0.5,
                "maximum": 9.0,
                "minimum": 0.0
              },
              { "type": "string" }
            ],
            "title": "Childallowances",
            "description": "Kinderfreibeträge (ZKF) - Number of child allowances (decimal place for shared allowances)",
            "default": 0.0
          },
          "isChurchMember": {
            "type": "boolean",
            "title": "Ischurchmember",
            "description": "Religionsgemeinschaft (R) - Church membership",
            "default": false
          },
          "churchTaxState": {
            "anyOf": [
              { "$ref": "#/components/schemas/GermanStates" },
              { "type": "null" }
            ],
            "description": "Religionsgemeinschaft (R) - Church membership state"
          },
          "inSaxony": {
            "type": "boolean",
            "title": "Insaxony",
            "description": "Sachsen-Indikator (PVS) - Special case for Saxony care insurance (1=yes)",
            "default": false
          },
          "careInsuranceChildren": {
            "type": "integer",
            "maximum": 5.0,
            "minimum": 0.0,
            "title": "Careinsurancechildren",
            "description": "Anzahl Kinder Pflegeversicherung (PVA) - Number of children for care insurance discount (0-5), choose 5 for 5 or more",
            "default": 0
          },
          "isFactor": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Isfactor",
            "description": "Faktorverfahren (AF) - Factor procedure flag (only for tax class IV)",
            "default": false
          },
          "factor": {
            "anyOf": [
              {
                "type": "number",
                "multipleOf": 0.001,
                "exclusiveMaximum": 1.0,
                "minimum": 0.001
              },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Factor",
            "description": "Faktor (F) - Factor for factor procedure"
          },
          "privateInsuranceMonthly": {
            "anyOf": [
              { "type": "number" },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Privateinsurancemonthly",
            "description": "Private Krankenversicherung (PKPV) - Monthly private health/care insurance contribution",
            "default": 0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "employeeId",
          "yearOfBirth",
          "grossWages",
          "taxClass",
          "pensionInsuranceType",
          "healthInsuranceType"
        ],
        "title": "PayrollRequestBase",
        "description": "Input parameters according to PAP2025"
      },
      "payroll__germany__types__PayCycleType": {
        "type": "string",
        "enum": ["Year", "Month", "Week", "Day"],
        "title": "PayCycleType",
        "description": "Lohnzahlungszeitraum (LZZ)"
      },
      "payroll__uk__schema__request__Deductions": {
        "properties": {
          "name": { "type": "string", "title": "Name" },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Amount"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["name", "amount"],
        "title": "Deductions"
      },
      "payroll__uk__schema__request__Earnings": {
        "properties": {
          "earningType": { "$ref": "#/components/schemas/EarningType" },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Amount",
            "description": "Earnings amount (taxable gross)"
          },
          "earningFrequency": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/payroll__uk__uktypes__PaymentPeriod"
              },
              { "type": "null" }
            ],
            "description": "If recurring, specify the frequency",
            "default": "month"
          },
          "isLumpsum": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Islumpsum",
            "description": "True if onetime. Defaults to False",
            "default": false
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["earningType", "amount"],
        "title": "Earnings"
      },
      "payroll__uk__schema__request__Gross": {
        "properties": {
          "earnings": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/payroll__uk__schema__request__Earnings"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Earnings"
          },
          "benefits": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/Benefits" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Benefits"
          },
          "deductions": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/payroll__uk__schema__request__Deductions"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Deductions"
          },
          "reimbursements": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/payroll__uk__schema__request__Reimbursement"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Reimbursements"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["earnings", "benefits"],
        "title": "Gross"
      },
      "payroll__uk__schema__request__PayrollRequest": {
        "properties": {
          "payDate": {
            "type": "string",
            "format": "date",
            "title": "Paydate",
            "description": "Payment Date for this payroll"
          },
          "payCycle": {
            "$ref": "#/components/schemas/payroll__uk__uktypes__PaymentPeriod",
            "description": ""
          },
          "externalRef": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Externalref",
            "description": "External reference for payroll run"
          },
          "payrollGroup": {
            "items": {
              "$ref": "#/components/schemas/payroll__uk__schema__request__PayrollRequestBase"
            },
            "type": "array",
            "title": "Payrollgroup"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["payCycle", "payrollGroup"],
        "title": "PayrollRequest",
        "description": "Input parameters",
        "examples": [
          {
            "payCycle": "month",
            "payDate": "2024-06-15",
            "payrollGroup": [
              {
                "employeeId": 12345,
                "nationalInsuranceCategory": "A",
                "payDetails": {
                  "benefits": [
                    {
                      "amount": 450.0,
                      "makeGoodAmount": 100.0,
                      "name": "Company Car"
                    },
                    { "amount": 125.5, "name": "Medical Insurance" },
                    {
                      "amount": 50.0,
                      "foregoneAmount": 0.0,
                      "makeGoodAmount": 25.0,
                      "name": "Professional Subscription"
                    },
                    {
                      "amount": 350.0,
                      "foregoneAmount": 500.0,
                      "makeGoodAmount": 0.0,
                      "name": "Other Benefit"
                    }
                  ],
                  "deductions": [
                    { "deductionType": "Student Loan", "loanType": "Plan1" },
                    { "deductionType": "Postgraduate Loan" },
                    {
                      "amount": 200,
                      "deductionType": "Other",
                      "name": "Withdrawal"
                    }
                  ],
                  "earnings": [
                    {
                      "amount": 36000.0,
                      "earningFrequency": "year",
                      "earningType": "Salary",
                      "isLumpsum": false
                    },
                    {
                      "amount": 1000.0,
                      "earningFrequency": "year",
                      "earningType": "Bonus",
                      "isLumpsum": true
                    }
                  ],
                  "reimbursements": [
                    { "amount": 275.5, "name": "Business Travel" }
                  ]
                },
                "taxCode": "1257L"
              }
            ]
          }
        ]
      },
      "payroll__uk__schema__request__PayrollRequestBase": {
        "properties": {
          "employeeId": {
            "type": "string",
            "title": "Employeeid",
            "description": "Employee identification number"
          },
          "payDetails": {
            "$ref": "#/components/schemas/payroll__uk__schema__request__Gross"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["employeeId", "payDetails"],
        "title": "PayrollRequestBase",
        "description": "Input parameters"
      },
      "payroll__uk__schema__request__Reimbursement": {
        "properties": {
          "name": { "type": "string", "title": "Name" },
          "amount": {
            "anyOf": [
              { "type": "number", "minimum": 0.0 },
              { "type": "string" }
            ],
            "title": "Amount"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": ["name", "amount"],
        "title": "Reimbursement"
      },
      "payroll__uk__schema__response__CurrentPayPeriod": {
        "properties": {
          "employee": {
            "$ref": "#/components/schemas/payroll__uk__schema__response__EmployeeCurrentPayPeriod"
          },
          "employer": {
            "$ref": "#/components/schemas/payroll__uk__schema__response__EmployerCurrentPayPeriod"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "CurrentPayPeriod"
      },
      "payroll__uk__schema__response__EmployeeCurrentPayPeriod": {
        "properties": {
          "totals": {
            "$ref": "#/components/schemas/payroll__uk__schema__response__EmployeeTotals"
          },
          "benefits": { "$ref": "#/components/schemas/EmployeeBenefits" },
          "taxes": {
            "$ref": "#/components/schemas/payroll__uk__schema__response__EmployeeTaxes"
          },
          "insurance": {
            "$ref": "#/components/schemas/payroll__uk__schema__response__EmployeeInsurance"
          },
          "deductions": {
            "items": { "$ref": "#/components/schemas/DeductionsResponse" },
            "type": "array",
            "title": "Deductions"
          },
          "reimbursements": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ReimbursementResponse"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Reimbursements"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "EmployeeCurrentPayPeriod"
      },
      "payroll__uk__schema__response__EmployeeInsurance": {
        "properties": {
          "insuranceAssessmentBase": {
            "type": "string",
[...]
